@model IEnumerable<Wardrobe.Models.Bottom>

@{
    ViewBag.Title = "Bottoms";
    PageData["Title"] = ViewBag.Title;
}
@RenderPage("~/Views/Shared/_IndexHeader.cshtml")

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-2">
                <div class="thumbnail">
                    <img src="@Url.Content(@item.Photo)" class="img-responsive" alt="No Image">
                    <div class="caption">
                        <h4 class="text-nowrap">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <p>@Html.ActionLink("Details", "Details", new { id = item.BottomID }, new { @class = "btn btn-primary btn-sm float:right" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>