@model IEnumerable<Wardrobe.Models.Accessory>

@{
    ViewBag.Title = "Accessories";
    PageData["Title"] = ViewBag.Title;
}
@RenderPage("~/Views/Shared/_IndexHeader.cshtml")

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-2">
                <div class="thumbnail">
                    <img src="@Url.Content(@item.Photo)" class="img-responsive" alt="No Image">
                    <div class="caption">
                        <h4 class="text-nowrap">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <p>@Html.ActionLink("Details", "Details", new { id = item.AccessoryID }, new { @class = "btn btn-primary btn-sm float:right" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
