@model Wardrobe.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>
        @Html.DisplayNameFor(model => model.Name)
    </h4>
    <h3>
        @Html.DisplayFor(model => model.Name)
    </h3>

    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @*<dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>*@

                <img src="@Url.Content(Model.Photo)" style="height:200px; width:200px" />
                @* "../images/flannel.jpg" *@

            </div>
            <div class="col-sm-3">
                <dl class="dl-horizontal">
                    
                    @*<dt>
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Type)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Sleave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Sleave)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Neckline)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Neckline)
                        <br/><br/>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrimaryColor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrimaryColor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SecondaryColor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SecondaryColor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Pattern)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Pattern)
                        <br /><br />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Season)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Season)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Occasion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Occasion)
                    </dd>

                </dl>
            </div>

        </div>
    </div>
</div>
<hr/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
