@model IEnumerable<Wardrobe.Models.Top>

@{
    ViewBag.Title = "Tops";
}

<h2>Tops</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sleave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neckline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pattern)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sleave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neckline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pattern)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopID })
        </td>
    </tr>
}

</table>
