@model Wardrobe.Models.Outfit

@{
    ViewBag.Title = "Outfit Details";
    PageData["Title"] = ViewBag.Title;
    PageData["Name"] = (Model.Description);
    PageData["ID"] = (Model.OutfitID);
}
@RenderPage("~/Views/Shared/_DetailHeader.cshtml")


<div>
            @Html.DisplayNameFor(model => model.Occassion)
            @Html.DisplayFor(model => model.Occassion)
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.Top.Name)
                @Html.DisplayFor(model => model.Top.Name)
            </div>
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.Accessory.Name)
                @Html.DisplayFor(model => model.Accessory.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.Bottom.Name)
                @Html.DisplayFor(model => model.Bottom.Name)
            </div>
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.Sho.Name)
                @Html.DisplayFor(model => model.Sho.Name)
            </div>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
