@model IEnumerable<Wardrobe.Models.Outfit>

@{
    ViewBag.Title = "Outfits";
}

<h2>Outfits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occassion)
        </th>
        <th>
            Tops
        </th>
        <th>
            Bottoms
        </th>
        <th>
            Shoes
        </th>
        <th>
            Accessory
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occassion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accessory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottom.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sho.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Top.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutfitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutfitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutfitID })
        </td>
    </tr>
}

</table>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
